/* ========== import fonts ========== */
@import "fonts.css";

/* ========== import tailwind styles ========== */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========== tailwind custom styles ========== */
@layer components {
  body {
    background-color: #0b0b0b;
  }

  .container {
    @apply max-w-[1112px] mx-auto px-10 md:px-8;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-outfit;
  }

  h1 {
    @apply text-6xl sm:text-8xl;
  }

  h2 {
    @apply text-3xl font-semibold mx-auto inline-block pb-2 mb-6;
    color: rgb(35, 138, 255);
    border-bottom: 2px solid rgb(35, 138, 255);
  }

  p,
  li,
  a {
    @apply font-inter my-3;
    color: rgb(104, 164, 201);
  }

  h2 + p {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  section {
    @apply mb-12;
  }

  .footer-icons {
    @apply flex items-center justify-center;
    color: rgb(104, 164, 201);
  }
}