---
import { info } from "@data";
---
<section class="skills flex-col md:w-1/2 text-center md:text-left">
  <h2>Skills</h2>
  <ul>
    {info.skills.map((item) => (
      <li>{item}</li>
    ))}
  </ul>
</section>
<style>
  ul {
    margin: -6px;
  }
  
  li {
    display: inline-block;
    background: #131313;
    margin: 6px;
    padding: 3px 8px;
    border-radius: 3px;
  }
</style>