---
import { IMetaHead } from "@types";
import Head from "@components/global/Head.astro";

import "../styles/styles.css";

const { title, description } = Astro.props as IMetaHead;
---

<html lang="en" class="dark">
	<Head title={title} description={description} />
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>