---
import logo from "@images/logo.svg"
---
<header class="container flex items-center justify-between h-[80px] sm:h-[123px]">
  <a class="text-2xl text-light font-semibold font-outfit" href="/"><img src={logo.src} alt="Eric Johnson" height="64" width="64" /></a>
</header>
