---
import { IMetaHead } from "@types";

const { title, description } = Astro.props as IMetaHead;
---
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="generator" content={Astro.generator} />

  {title && <title>{title}</title>}
  {title && <meta name="title" content={title} />}
  {description && <meta name="description" content={description} />}

  <!-- preload assests -->
  <link
    rel="preload"
    href="/fonts/Inter/Inter-Light.ttf"
    as="font"
    crossorigin
  />
  <link
    rel="preload"
    href="/fonts/Outfit/Outfit-SemiBold.ttf"
    as="font"
    crossorigin
  />
</head>